<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>About Us</h5>
                <p>We are a leading company in our industry, committed to providing quality products and services to our customers.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Products</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="mb-5">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a href="tel:+1234567890" class="text-white text-decoration-none">+1 234 567 890</a></li>
                    <li><a href="mailto:info@yourcompany.com" class="text-white text-decoration-none">info@yourcompany.com</a></li>
                    <li><span class="text-white">1234 Street Name, City, Country</span></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="mb-4">Follow Us</h5>
                <ul class="list-unstyled d-flex flex-column">
                    <li class="me-3 mb-3"><a href="#" class="text-white text-decoration-none"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li class="me-3 mb-3"><a href="#" class="text-white text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li class="me-3 mb-3"><a href="#" class="text-white text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 Your Company. All rights reserved.</p>
        </div>
    </div>
</footer>
