{% extends 'base.html.twig' %}



{% block title %}Order Ok Message{% endblock %}

{% block body %}
<div class="container my-5 text-center">

    <h1>Votre Commande a été envoyé avec succès ! ✅</h1>

</div>
{% endblock %}
